@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header > h1 {
    font-size: 100px;
    font-family: "Covered By Your Grace", cursive;
    color: #2B1810BF;
    /*text-align: center;*/
    /*padding-top: 130px;*/

}

.main {
    position: relative;
}

.left > div, .right > div {
    margin: 20px 0;
    border-bottom: 1px solid #e4bb97;
    padding-bottom: 60px;
    height: 100px;
    overflow-y: auto;
}

.main div > h2 {
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: 700;
    background-color: #aa8eb8;
    /*text-align: center;*/
    /*text-transform: uppercase;*/
}

.main div > p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #454;
    /*padding: 0 5px;*/
    text-align: justify;
    text-indent: 32px;
    line-height: 1.5;
    /*margin-bottom: 30px;*/
}

/*.main div > a {*/

/*    !*color: #214e34;*!*/
/*    !*font-weight: 600;*!*/
/*    !*text-transform: uppercase;*!*/
/*    !*text-decoration: none;*!*/
/*    !*letter-spacing: 2px;*!*/
/*}*/

/*.left, .right {*/
/*    width: 49%;*/
/*    position: absolute;*/
/*    top:0;*/
/*}*/

.left{
    left: 0;
}

.right{
    right: 0;
}


